@use '../../scss/abstracts/index' as *;
@use '../../scss/base/index' as *;

.hero {
	height: 75dvh;
	@include flex(column, nowrap, flex-end, flex-start);
	gap: 25px;
	padding-bottom: 50px;
	&__logo {
		max-width: 150px;
	}

	&__title {
		font-size: $h2;
		font-weight: 600;
	}

	&__section {
		@include flex(row, nowrap, flex-start, flex-start);
		gap: 20px;
	}

	&__vote {
		@include flex(row, nowrap, center, center);
		gap: 5px;
	}

	&__star {
		max-width: 1rem;
	}

	&__action {
		@include flex(row, nowrap, center, center);
		gap: 25px;
		max-width: 600px;
	}
}
